@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --primary: hsl(278, 68%, 11%);
  --border-from: hsl(249, 99%, 64%);
  --border-to: hsl(278, 94%, 30%);
  --light: hsl(270, 3%, 87%);
  --muted: hsl(279, 6%, 55%);
  --error: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Space Grotesk", sans-serif;
  color: var(--primary);
}

/* Top section */
.card-preview {
  height: 16rem;
  color: var(--white);
  background-color: var(--primary);
  position: relative;
}

.card-preview__back img,
.card-preview__front img {
  width: 333px;
  height: auto;
  position: absolute;
  right: 15px;
  top: 30px;
}

.card-preview__front img {
  left: 15px;
  top: 120px;
}

.card-preview__front {
  position: relative;
}

.card-preview__front .card-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.card-preview__front .card-logo img {
  width: 60px;
}

.card-preview__front p.card-number {
  width: fit-content;
  position: absolute;
  top: 205px;
  left: 37px;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.card-preview__front .card-details {
  width: 70%;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 245px;
  left: 37px;
}

/* Form */
form {
  margin-top: 4.5rem;
  padding: 1.3rem;
}

form > div {
  margin-bottom: 1.3rem;
}

label input {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  margin-top: 0.5rem;
  padding-left: 11px;
  border: 1px solid var(--light);
}

label input::placeholder {
  color: var(--light);
  font-weight: 600;
  font-size: 1.2rem;
}

/* TODO: two colors are defined for the border */
label input:focus {
  background: linear-gradient(var(--white) 0 0) padding-box,
    linear-gradient(to right, var(--border-from), var(--border-to)) border-box;
  border: 3px solid transparent;
}

label span {
  display: block;
  letter-spacing: 1px;
}

.card-info__expiration-date {
  display: grid;
  grid-template-columns: 75px 75px 1fr;
  grid-gap: 10px;
}

button {
  font-family: "Space Grotesk";
  color: var(--white);
  background-color: var(--primary);
  width: 100%;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-top: 0.5rem;
  padding: 1rem 0;
  cursor: pointer;
}
